
h1 {
  font-size: 50px;
  height: 120px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  margin: 0 auto;
}

#game-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 90px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  margin: 0 auto;
}

#j-chess {
  display: flex;
  justify-content: center;
}

.captures {
  height: 600px;
  width: 128px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
}

.captures.black {
  align-items: flex-end;
  align-content: flex-end;
}
.captures.white {
  justify-content: flex-end;
  align-content: flex-start;
}



.captured {
  width: 64px;
  height: 64px;
  font-size: 64px;
  text-align: center;
  line-height: 64px;
}
.outer-board {
  /* margin: 0 auto; */
  width: 598px;
  height: 598px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: #c6c1b8;
}

.outer-board .markers {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.outer-board .markers.alphabet{
  width: 598px;
  height: 42px;
  padding: 0 42px;
  flex-direction: row;
}

.outer-board .markers.alphabet .mark {
  line-height: 42px;
  vertical-align: middle;
}

.outer-board .markers.num{
  width: 42px;
  height: 514px;
  flex-direction: column;
}

.outer-board .markers.num .mark {
  text-align: center;
}

.outer-board .flipped .mark {
  transform: rotate(180deg);
}

.inner-board {
  width: 512px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.tile {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 45px;
  color: black;
}

.tile:hover {
  cursor: pointer;
}

.tile.p1-hover {
  border: 2px solid red;
  line-height: 60px;
}
.tile.p2-hover {
  border: 2px solid purple;
  line-height: 60px;
}

.tile.light {
  background-color: #cec1ab;
}
.tile.dark {
  background-color: #876124;
}
.tile.light.path {
  /* background-color: #9568ba; */
  box-shadow: inset 0 0 100px red;
}
.tile.dark.path {
  /* background-color: #432e54; */
  box-shadow: inset 0 0 100px red;
}
.tile.ai-start {
  /* background-color: #9568ba; */
  /* border: 2px solid purple; */
  box-shadow: inset 0 0 100px #ad72ff;
}
.tile.ai-dest {
  /* background-color: #432e54; */
  /* box-shadow: inset 0 0 100px #8630ff; */
  box-shadow: inset 0 0 100px #ad72ff;
}

/* spinner */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  /* margin: 100px auto; */
  margin: 0 10px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

/* .tile.light {
  background-color: #cec1ab;
}
.tile.dark {
  background-color: #876124;
} */
.sk-cube-grid .sk-cube1 {
  background-color: #876124;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  background-color: #cec1ab;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  background-color: #876124;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  background-color: #cec1ab;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  background-color: #876124;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  background-color: #cec1ab;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  background-color: #876124;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  background-color: #cec1ab;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  background-color: #876124;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
